@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center py-5 bg-light border border-danger rounded">
    <div class="container" style="background-color: #ffe6e6;">
        <h2 class="text-center fw-bold mb-4">ホーム</h2>
        <h1 class="display-3 fw-bold mb-3 text-danger">デイアプリ記録サービス</h1>
        <p class="fs-5">
            Learn about
            <a href="https://learn.microsoft.com/aspnet/core" class="text-primary fw-bold text-decoration-underline">
                building Web apps with ASP.NET Core
            </a>.
        </p>
        <button class="btn btn-outline-danger btn-lg mt-4 shadow-sm">Get Started</button>
    </div>
</div>
